<div class="row">
  <div class="col-md-3 inline mb-2">
    <%= image_tag comment.user.profile_avatar(30), class: "profile-pic" %>
    <%= comment.user.name %>
    <% if current_user == comment.user  %>
      <%= link_to "コメント削除", article_comment_path(comment.article_id, comment.id), method: :delete, remote: true, class: "small", data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </div>
  <div class="col-md-7 break">
    <%= comment.content %>
  </div>
  <div class="col small">
    <%= comment.created_at.strftime("%-m/%-d %-H:%-M") %>
  </div>
</div>