<% provide(:title, "求人記事一覧") %>

<div class="row">
  <div class="col-md-8">
    <h4><%= yield(:title) %></h4>
    <% if @articles.present? %>
      <table class = "table">
        <thead>
          <tr>
            <th scope="col"><%= Article.human_attribute_name(:title) %></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td>
                <%= link_to truncate(article.title, length: 30), article %>
                <%= render "footer", article: article %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div>
        <p>記事がありません</p>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render "shared/sidebar" %>
  </div>
</div>
