<% provide(:title, "求人記事一覧") %>

<div class="row">
  <div class="col-md-8">
    <h4>求人記事一覧</h4>
    <% if @articles.present? %>
      <table class = "table">
        <thead>
          <tr>
            <th>投稿日</th>
            <th><%= Article.human_attribute_name(:title) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.created_at.strftime("%m-%d") %></td>
              <td><%= link_to article.title, article %></td>
              <td>
                <% if current_user == article.user %>
                  <%= link_to "編集", [:edit, article] %> |
                  <%= link_to "削除", article, method: :delete, data: { confirm: "本当に削除しますか？" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div>
        <p>記事がありません</p>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render "shared/sidebar" %>
  </div>
</div>
