<% provide(:title, "記事の新規登録") %>

<%= render "shared/error_messages", object: @article %>

<div class="row justify-content-center outer-box">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="title"><%= yield(:title) %></h4>
    <%= form_with(model: @article, local: true) do |form| %>
      <%= render "shared/article_form", form: form %>
      <div class="center"><%= form.submit "登録", class: 'btn btn-orange' %></div>
    <% end %>
  </div>
</div>