<% provide(:title, "ユーザー登録") %>

<%= render "shared/error_messages", object: @user %>

<div class="row justify-content-center outer-box">
  <div class="col-md-6 col-md-offset-3">
    <h4 class="title"><%= yield(:title) %></h4>
    <%= form_with(model: @user, local: true) do |form| %>
      <%= render "shared/user_form", form: form, user: @user %>
      <div class="text-center"><%= form.submit "登録", class: "btn btn-orange" %></div>
    <% end %>
  </div>
</div>
