<%= render "shared/error_messages", object: @article %>

<table>
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title %></td>
  </tr>
  <tr>
    <th><%= form.label :body %></th>
    <td><%= form.text_area :body %></td>
  </tr>
  <tr>
    <th><%= form.label :date_hired_from, for: "article_date_hired_from_li" %></th>
    <td><%= form.datetime_select :date_hired_from, start_year: 2020, end_year:Time.current.year + 1, use_month_number: true %></td>
  </tr>
  <tr>
    <th><%= form.label :date_hired_to, for: "article_date_hired_to_li" %></th>
    <td><%= form.datetime_select :date_hired_to, start_year: 2020, end_year:Time.current.year + 1, use_month_number: true %></td>
  </tr>
  <tr>
    <th><%= form.label :area %></th>
    <td><%= form.text_field :area %></td>
  </tr>
  <tr>
    <th><%= form.label :category %></th>
    <td><%= form.text_field :category %></td>
  </tr>
  <tr>
    <th><%= form.label :skill%></th>
    <td><%= form.text_area :skill %></td>
  </tr>
  <tr>
    <th><%= form.label :remark%></th>
    <td><%= form.text_area :remark %></td>
  </tr> 
</table>