<header>
  <nav class="navbar navbar-expand-lg mr-auto ml-auto">
    <div class="navbar-brand">
      <%= link_to "manu-Match", :root, id: "logo", class: "blackbrown"%>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbarToggler" aria-controls="header-navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-around" id="header-navbarToggler">
      <ul class = "navbar-nav mt-lg-10 d-flex align-items-center">
        <li class="nav-link"><%= link_to "トップ", :root, class: "blackbrown f-size-header"%></li>
        <% if logged_in? %>
          <li class="nav-link"><%= link_to "新規投稿", new_article_path, class: "blackbrown f-size-header"%></li>
          <li class="nav-link">
            <%= link_to :articles, class: "blackbrown f-size-header" do %>
              気になる<br>記事一覧
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to "通知一覧", notifications_path, class: "blackbrown f-size-header"%>
            <% if unchecked_notifications.any? %>
              <span class="fa-layers fa-fw">
                <i class="fas fa-certificate fa-lg"></i>
                <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-9 rotate--30" style="font-weight:500">NEW</span>
              </span>
            <% end %>
          </li>
          <li class="nav-link"><%= link_to "マイページ", :account, class: "blackbrown f-size-header"%></li>
          <li class="nav-link"><%= link_to "ログアウト", logout_path, method: :delete, class: "blackbrown f-size-header"%></li>
        <% else %>
          <li class="nav-link"><%= link_to "ログイン", login_path, class: "blackbrown f-size-header"%></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>