<div class="row justify-content-end">
  <h6>＊は必須入力項目です</h6>
</div>

<% if params[:action] != "new" %>
  <div class="form-group">
    <div class="form-label col-12"><%= form.label :avatar %></div>
    <div class="col-12  text-center">
      <%= form.label :avatar do %>
        <% if user.avatar.present? %>
          <%= image_tag user.avatar, class: "profile-pic profile-size pointer", id: "image" %>
        <% end %>
        <%= form.file_field :avatar, accept: "image/jpeg,image/png", onchange: "imagePreview(this);", class: "form-control", style: "display: none;" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <small class="form-label">＊</small>
  <%= form.label :name, class: "form-label" %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <small class="form-label">＊</small>
  <%= form.label :company_name, class: "form-label" %>
  <%= form.text_field :company_name, class: "form-control" %>
</div>

<div class="form-group">
  <small class="form-label">＊</small>
  <%= form.label :email, class: "form-label" %>
  <%= form.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :website, class: "form-label" %>
  <%= form.url_field :website, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :phone_number, class: "form-label" %>
  <%= form.telephone_field :phone_number, class: "form-control" %>
</div>

<% if user.new_record? %>
  <div class="form-group">
    <small class="form-label">＊</small>
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <small class="form-label">＊</small>
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>
<% end %>
<script>
  function imagePreview(obj) {
    var Reader = new FileReader();
    var File = document.getElementById("image");
    Reader.onload = (function() {
      File.src = Reader.result; 
    });
    Reader.readAsDataURL(obj.files[0]);
  }
</script>